<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohsinhussain.allinoneapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <user-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/applogoupdated"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <receiver
                android:name=".CheckConnetivity"
                android:exported="false"></receiver>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StoresActivity" />
        <activity android:name=".Webview" />
        <activity android:name=".TermsAndConditionActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BottomNavigtionViewActivity" />
        <activity android:name=".NewsAndDealsActivity" />
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".DealsAndCouponsActivty"></activity>
        <service
            android:name=".NotificationClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcmInstanceIdServiceClass">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>